---
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
---

<div x-data="{ showmenu: false }" class="p-4 z-10 w-full bg-[#221f1f] fixed">
  <!-- brug "fixed" for at have den på siden hele vejen ned -->
  <div id="navbar" class="flex flex-row justify-between max-w-7xl mx-auto pr-4 pl-4 pt-2 pb-2">
    <div class="">
      <a href="#hero">
        <img class="w-32" src="/logo.png" alt="logo" />
      </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-4 items-center">
        <li class="text-white"><a href="#udforsk">Udforsk font</a></li>
        <li class="text-white"><a href="#koncept">Koncept</a></li>
        <li class="text-white"><a href="#process">Process</a></li>
        <li><Button variant="primary" size="small">Køb</Button></li>
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul>
      <li class="text-center py-2 text-white"><a href="#udforsk">Udforsk font</a></li>
      <li class="text-center py-2 text-white"><a href="#koncept">Koncept</a></li>
      <li class="text-center py-2 text-white"><a href="#process">Process</a></li>
      <li class="flex justify-center"><Button variant="primary" size="small">Køb</Button></li>
    </ul>
  </nav>
</div>
